@model IEnumerable<Cloud.Models.TblTruck>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Company's Trucks</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Truck Model
            </th>
            <th>
                Truck License
            </th>
            <th>
                Employee Id
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TruckModel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TruckLicense)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmplId)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.TruckId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.TruckId">Add Tool</a> |
                    <a asp-action="Delete" asp-route-id="@item.TruckId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
